DISCORD_TOKEN=MTUzODYwODQ3ODUyMjcwODAzOA.GSHKRr.y7pIeDz7WPP6F0K4k4kJrCcMGJ5z3cbayWli7k
CLIENT_ID=1538608478522708038
PUBLIC_KEY=afb781dce4acbc29dc5dc37b6404f15e8899ad9c62b8dc60227c9e0019d8bde2
GROQ_API_KEY=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
PORT=3000
EO
git add .env.example
git rebase --continue
cat > .env.example << 'EOF'
DISCORD_TOKEN=MTUzODYwODQ3ODUyMjcwODAzOA.GSHKRr.y7pIeDz7WPP6F0K4k4kJrCcMGJ5z3cbayWli7k
CLIENT_ID=1538608478522708038
PUBLIC_KEY=afb781dce4acbc29dc5dc37b6404f15e8899ad9c62b8dc60227c9e0019d8bde2
GROQ_API_KEY=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
PORT=3000
